@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
	overflow-x: hidden;
}

body {
	background: linear-gradient(90deg, #0e0d11, #ff1e00);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0px 5%;
}

.screen {		
	background: linear-gradient(90deg, #ffffff, #ff1e00);
    position: relative;
    height: 600px;
    width: 100%;
    box-shadow: 0px 0px 24px #000000;
    border-radius: 5%;
    padding: 40px 20px;
}



.screen_background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}


form{
	margin-bottom: 2rem;
}

.btn{
	margin-left: 2px;
}
h2{
	font-weight: 1000 !important;
	text-align: center;
}

#select_poke {
	font-size: 14px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #030210;
    text-transform: uppercase;
    font-weight: 900;
    color: #000000;
    box-shadow: 0px 2px 2px #965c56;
    transition: .2s;background: #fff; 
}
.poke_tipo div {
	text-align: center;
	font-weight: 700;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke_img {
    width: 100%;
    border-radius: 50%;
}
